
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Barbershopmanagement.Models.DICHVU> dsDichVu = new List<Barbershopmanagement.Models.DICHVU>();
    List<Barbershopmanagement.Models.NHANVIEN> dsNhanVien = new List<Barbershopmanagement.Models.NHANVIEN>();
    try {
        Barbershopmanagement.Models.BarbershopManagementEntities db = new Barbershopmanagement.Models.BarbershopManagementEntities();
        dsDichVu = db.DICHVUs.Take(3).ToList();
        dsNhanVien = db.NHANVIENs.Take(3).ToList();
    }catch(Exception e){}

}

<div class="container"
     style="
        margin-top: 100px;
        margin-bottom: 100px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      ">
    <h2 style="display: flex; justify-content: center">DỊCH VỤ</h2>
    <div>
            <div class="top"
                 style="display: flex; justify-content: center; gap: 40px">
                @for (int i = 0; i < dsDichVu.Count; i++)
                {
                    <form action="~/Services/Details">
                        <button type="submit" style="border-color:black;border-radius:4px;width:200px; margin:20px;background-color:rgba(0,0,0,0)" value="@dsDichVu[i].DICHVUID" name="id">
                            <img src="~/Content/images/serviceimg/@dsDichVu[i].URLHINHANH" style="width: 180px" height="200px" />
                            <hr />
                            <h4 style="width:200px">@dsDichVu[i].TENDICHVU</h4>
                            <div style="width: 200px; overflow-wrap: break-word;padding:4px">
                                @dsDichVu[i].MOTA chỉ với @string.Format("{0:N0}", dsDichVu[i].GIADICHVU) VND
                            </div>
                        </button>
                    </form>
                    
                }
            </div>
    </div>
    <hr />
    <h2 style="display: flex; justify-content: center;  ">NHÂN VIÊN</h2>
    <div>
            <div class="top"
                 style="display: flex; justify-content: center; gap: 100px">
                @for (int i = 0; i < dsNhanVien.Count; i++)
                {
                    <form action="~/Employees/Details">
                        <button type="submit" style="border-color:black;border-radius:4px;width:200px; margin:20px;background-color:rgba(0,0,0,0)" value="@dsNhanVien[i].NHANVIENID" name="id">
                            <img src="~/Content/images/avatar/@dsNhanVien[i].USER.URLHINHANH" style="width: 180px; margin-top: 4px" height="200px" />
                            <hr />
                            <h5 style="display: flex; justify-content: center">@dsNhanVien[i].USER.HOTEN</h5>
                        </button>
                    </form>
                }
            </div>
    </div>
</div>
