
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Barbershopmanagement.Models.DICHVU> dsDichVu = new List<Barbershopmanagement.Models.DICHVU>();
    List<Barbershopmanagement.Models.NHANVIEN> dsNhanVien = new List<Barbershopmanagement.Models.NHANVIEN>();
    try
    {
        Barbershopmanagement.Models.BarbershopManagementEntities db = new Barbershopmanagement.Models.BarbershopManagementEntities();
        dsDichVu = db.DICHVUs.Take(3).ToList();
        dsNhanVien = db.NHANVIENs.Take(3).ToList();
    }
    catch (Exception e) { }

}

<style>
    #banner {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
        border-radius: 8px;
        padding: 0;
    }

    #banner img {
        width: 100%;
        height: 600px; 
        display: inline-block; 
        margin:0;
        padding:0;
    }
</style>

<div id="banner">
    <img  src="~/Content/images/bn1.png" alt="Image 1">
    <img  src="~/Content/images/bn3.jpg" alt="Image 2">
    <img  src="~/Content/images/bn6.jpg" alt="Image 3">
</div>
<script>
    const banner = document.getElementById("banner");
    const images = banner.getElementsByTagName("img");
    let currentIndex = 0;

    function scrollToNextImage() {
        currentIndex = (currentIndex + 1) % images.length;
        const nextImage = images[currentIndex];
        banner.scrollTo({
            left: nextImage.offsetLeft,
            behavior: "smooth",
        });
    }
    setInterval(scrollToNextImage, 2000);
</script>
<div class="container"
     style="
        margin-top: 100px;
        margin-bottom: 100px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      ">

    <hr />
    <h2 style="display: flex; justify-content: center">DỊCH VỤ</h2>
    <div>
        <div class="top"
             style="display: flex; justify-content: center; gap: 40px">
            @for (int i = 0; i < dsDichVu.Count; i++)
            {
                <div class="col-lg-3 col-12 mb-3 item-services">
                    <form action="~/Services/Details" method="get">
                        <div class="product-thumb">
                            <button type="submit" name="id" value="@dsDichVu[i].DICHVUID" style="border: none;">
                                <img src="~/Content/images/serviceimg/@dsDichVu[i].URLHINHANH" class="img-fluid product-image" style="width: 300px;height:300px">
                            </button>

                            <button class="product-info" style="width: 300px; text-align:center; border:none; width:300px" name="id" value="@dsDichVu[i].DICHVUID">
                                <div>
                                    <h5 class="product-title">
                                        @dsDichVu[i].TENDICHVU
                                    </h5>
                                </div>
                                <div>
                                    @string.Format("{0:N0}", dsDichVu[i].GIADICHVU)
                                    <span class="currencySymbol">₫</span>
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <hr />
    <h2 style="display: flex; justify-content: center;  ">NHÂN VIÊN</h2>
    <div>
        <div class="top"
             style="display: flex; justify-content: center; gap: 100px">
            @for (int i = 0; i < dsNhanVien.Count; i++)
            {
                <div class="col-lg-3 col-12 mb-3 item-services">
                    <form action="~/Employees/Details" method="get">
                        <div class="product-thumb">
                            <button type="submit" name="id" value="@dsNhanVien[i].NHANVIENID" style="border: none;">
                                <img src="~/Content/images/avatar/@dsNhanVien[i].USER.URLHINHANH" class="img-fluid product-image" style="width: 300px;height:300px">
                            </button>

                            <button class="product-info" style="width: 300px; text-align:center; border:none; width:300px" name="id" value="@dsNhanVien[i].NHANVIENID">
                                <div>
                                    <h5 class="product-title">
                                        @dsNhanVien[i].USER.HOTEN
                                    </h5>
                                </div>
                                <div>
                                    @dsNhanVien[i].USER.SODIENTHOAI
                                </div>
                            </button>
                        </div>
                    </form>

                </div>
            }
        </div>
    </div>

    <div>
        <h2 style="display: flex; justify-content: center">CAM KẾT</h2>
        <div style="position: relative;">
            <img src="~/Content/images/cam.png" style=" width: 100%;">
            <h4 style="position: absolute; z-index: 1; top: 300px; margin-left: 30%; color: #fff;">
                VÌ CHẤT LƯỢNG PHỤC VỤ LÀ HÀNG ĐẦU
            </h4>
            <p style="position: absolute; z-index: 1; top: 330px; margin-left: 36%; color: #fff;">
                Áp dụng tại salon bất kỳ toàn hệ
                thống
            </p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 20px; ">
            <section2 style="display: flex; flex-direction: column; text-align: center; gap: 10px;">
                <p style="font-size: 40px; color:skyblue; ">07</p>
                <p style="font-size: 20px; color:skyblue;">ngày</p>
                <p>Bảo hành tóc miễn phí</p>
            </section2>
            <section3 style="display: flex; flex-direction: column; text-align: center; gap: 10px;">
                <p style="font-size: 40px; color:skyblue;">Giảm</p>
                <p style="font-size: 20px; color:skyblue;">20%</p>
                <p>Riêng lần đầu uốn nhuộm</p>
            </section3>
        </div>
    </div>
</div>

