@model IEnumerable<Barbershopmanagement.Models.DICHVU>
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Active = 0;
    List<Barbershopmanagement.Models.getTopServicesInMonth_Result> topServices = new List<Barbershopmanagement.Models.getTopServicesInMonth_Result>();
    List<Barbershopmanagement.Models.getTopStaffInMonth_Result> topStaff = new List<Barbershopmanagement.Models.getTopStaffInMonth_Result>();
    var dsDichVu = new List<Barbershopmanagement.Models.DICHVU>();
    var dsNhanVien = new List<Barbershopmanagement.Models.NHANVIEN>();
    try
    {
        Barbershopmanagement.Models.BarbershopManagementEntities db = new Barbershopmanagement.Models.BarbershopManagementEntities();
        topServices = db.getTopServicesInMonth().ToList();
        topStaff = db.getTopStaffInMonth().ToList();
        foreach(var item in topServices)
        {
            dsDichVu.Add(db.DICHVUs.Find(item.DICHVUID));
        }
        foreach (var item in topStaff)
        {
            dsNhanVien.Add(db.NHANVIENs.Find(item.NHANVIENID));
        }
    }
    catch(Exception e) { }
}

<style>
    .item-services {
        display: inline-flex;
        margin-left: 85px;
        margin-top: 30px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
        border-radius: 10px;
        width: 300px;
    }
</style>
<div class="col-lg-12 padding-10">
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@String.Format("{0:N0}", @ViewBag.DoanhThu) ₫</h3>
                        <p>Doanh Thu Trong Ngày</p>
                    </div>
                    <div class="icon">
                        <i class="ion-social-usd-outline"></i>
                    </div>
                    <a href="~/Admin/ThongKeDoanhThu" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>@ViewBag.ThongKeDonHang</h3>

                        <p>Đơn Hàng Mới</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-cart"></i>
                    </div>
                    <form action="~/Admin/QLLichHen/TimKiem" class="small-box-footer">
                        <button type="submit" value="1" name="tinhtrang" style="border:none;background-color:rgba(0,0,0,0);color:white">
                            More info
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box bg-secondary">
                    <div class="inner">
                        <h3>@ViewBag.ThongKeDonHangChuaHT</h3>

                        <p>Đơn Hàng Chưa Hoàn Thành</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-eye"></i>
                    </div>
                    <form action="~/Admin/QLLichHen/TimKiem" class="small-box-footer">
                        <button type="submit" value="2" name="tinhtrang" style="border:none;background-color:rgba(0,0,0,0);color:white">
                            More info
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.ThongKeKH</h3>

                        <p>Khách Hàng</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-people"></i>
                    </div>
                    <form action="~/Admin/QLTaiKhoan/TimKiem" class="small-box-footer">
                        <button type="submit" value="khachhang" name="role" style="border:none;background-color:rgba(0,0,0,0);color:white">
                            More info
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <hr />

    <span style="font-weight:bold; font-size:30px">Top 3 dịch vụ sử dụng nhiều nhất trong tháng</span>
    <hr style="border:none"/>
    @foreach (var item in dsDichVu)
    {
        <div class="col-lg-3 col-12 mb-3 item-services" style=" padding-left: 0px; padding-right: 0px; ">
            <form action="~/Admin/QLDichVu/Edit" method="get">
                <button type="submit" name="id" value="@item.DICHVUID" class="product-thumb" style="border: none;padding:0">
                    <img src="~/Content/images/serviceimg/@item.URLHINHANH" class="img-fluid product-image" style="width: 100%; margin:0">

                    <div class="product-info">
                        <div>
                            <h5 class="product-title">
                                @item.TENDICHVU
                            </h5>
                        </div>
                        <div>
                            @string.Format("{0:N0}", item.GIADICHVU)
                            <span class="currencySymbol">₫</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    }
    <hr />

    <span style="font-weight:bold; font-size:30px">Top 3 nhân viên được đặt lịch nhiều nhất trong tháng</span>
    <hr style="border:none"/>

    @foreach (var item in dsNhanVien)
    {
        <div class="col-lg-3 col-12 mb-3 item-services" style=" padding-left: 0px; padding-right: 0px; ">
            <form action="~/Admin/QLTaiKhoan/Edit" method="get">
                <button type="submit" name="id" value="@item.USER.USERID" class="product-thumb" style="border: none;padding:0">
                    <img src="~/Content/images/avatar/@item.USER.URLHINHANH" class="img-fluid product-image" style="width: 100%; margin:0">

                    <div class="product-info">
                        <div>
                            <h5 class="product-title">
                                @item.USER.HOTEN
                            </h5>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    }

</div>

