@model Barbershopmanagement.Models.USER

@{
    ViewBag.Title = "Cập nhật tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Active = 2;
}

<div>
    <h4 style="margin-left:40%;font-weight:bold">CHỈNH SỬA</h4>
</div>
<a href="~/Admin/QLTaiKhoan/" class="buy_continute mt-4"><i class="fa fa-arrow-circle-left"></i> Trở lại</a>

@using (Html.BeginForm("SaveEdit", "QLTaiKhoan", FormMethod.Post, new { enctype = "multipart/form-data", style="box-shadow: 0 3px 8px rgb(0 0 0 / 15%);border-radius: 10px;" }))
{
    @Html.AntiForgeryToken()

    <div class="product__details row services-details">

        <div class="product__details-img col-lg-4 col-md-4 d-inline-flex" style="margin-left:20px">
            <div class="big-img">
                <img src="~/Content/images/avatar/@Model.URLHINHANH" style="visibility: visible;border:solid;">
                <input type="file" name="fileImages" style="margin-top:5px" />

            </div>
        </div>
        <div class="product__details-info col-lg-8 col-md-8">
            <span class="control-label col-md-2" style="color: red; margin-left: 25%">
                @TempData["edituser"]
            </span>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.USERID)

                <div class="form-group">
                    <label class="control-label col-md-2">Tên đăng nhập</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENDANGNHAP, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Mật khẩu</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Họ và tên</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HOTEN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Số điện thoại</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SODIENTHOAI, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Role</label>
                    <div class="col-md-10">
                        <select style="height:40px;width:130px;border-color:gray;border-radius:5px" name="role">
                            @{
                                if (Model.ROLE == "khachhang")
                                {
                                    <option value="khachhang" selected>
                                        khachhang
                                    </option>
                                    <option value="nhanvien">
                                        nhanvien
                                    </option>
                                    <option value="admin">
                                        admin
                                    </option>
                                }
                                else if (Model.ROLE == "nhanvien")
                                {
                                    <option value="khachhang">
                                        khachhang
                                    </option>
                                    <option value="nhanvien" selected>
                                        nhanvien
                                    </option>
                                    <option value="admin">
                                        admin
                                    </option>
                                }
                                else
                                {
                                    <option value="khachhang">
                                        khachhang
                                    </option>
                                    <option value="nhanvien">
                                        nhanvien
                                    </option>
                                    <option value="admin" selected>
                                        admin
                                    </option>
                                }
                            }


                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Địa chỉ</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu thay đổi" class="btn btn-default" style="background-color: #06ba2f;color:white;" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}